syslog/*
.submodule/*
.DS_Store

# IDE Files
/nbproject/
.idea/*
vendor/*
upload/*
uploads/*
Logs/*
tdlib-db/*
tdlib-files/*
tgbot

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## vscode file
.vscode

##config file
app_loc.ini

##go build file
*.so
*.a
*.o
*.exe
*.log
